
body {
  background: url(../img/webdev.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;

}

.nom {
  font-size: 60px;
  color: rgb(27, 32, 41);
  text-shadow: 1px 2px 3px white;

}

.liens img {
  width: 35px;
  height: 35px;
  margin: 5px;
  transition: all 0.5s;
  display: inline-block;
}

.icon:hover {
  display: inline-block;
  transition: all 0.8s;
  transform: scale(1.5,1.5);
}

}
a:hover {
  tranform: scale (1.5,1.5);
}

.text-center {
  font-size: 21px;
  color: rgb(28, 27, 38);
  text-shadow: 1px 1px 1px white;
}

.title{
  display: flex;
  justify-content : center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 100px 0;
  font-family: 'Quicksand', sans-serif;
}


.navbar {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  background-size: cover;
  padding: 10px;
  margin: 0px 0px 30px 0px;
  background-color: rgb(31, 31, 36);

}

a {
  color: lightgrey;
}

a:focus,
a:hover,
a:visited {
  color: rgb(92, 94, 102);
  text-decoration: none;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  margin: 25px 2px 8px 25px;
  padding: 3px 3px 3px 8px;
  border: dotted lightgrey;
  border-width: 2px;
  border-radius: 10px;

}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: center;
  color: rgb(31, 31, 36);
  text-shadow: 1px 2px 2px lightgrey;
  padding: 30px;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-align: center;
}
.infos {
  float: right;
  margin: 25px 25px 25px 5px;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(221, 221, 221, 0.56);
  padding: 5px;
}

.details p {
  float: center;
  text-align: left;
  font-size: 16px;
  margin-left: 15px;
  font-family: 'Pontano Sans', sans-serif;
}
.pdf p {
  float: top-right;
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
  margin-left: 25px;
  font-family: 'Pontano Sans', sans-serif;
}

p {
  margin: 5px 5px 25px 30px;
  text-align: justify;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  color: rgb(34, 34, 34);
}

.pdf {
  border: dotted lightgrey;
  border-radius: 20px;
  border-width: 2px;
  float: right;
  margin-right: 10px;

}
.download:hover {
  color: rgb(238, 163, 49);
  font-weight: bold;
  font-size: 20px;
  color: rgb(237, 171, 83);

}

.content {
  background-color: white;
  padding: 10px;
}


.logo {
  max-width: 70px;
  max-height: 70px;
  margin: 15px 10px 15px 20px;

}

.logos {
  padding: 50px;

}

.work {
  text-align: center;
}


.footer{
  background-color: rgb(31, 31, 36);
}
